.row {
  display: flex;
  flex-direction: column;
}

.top {
  margin-bottom: 20px;
}

.highlight {
  background-color: yellow;
}


.favourite {
  font-weight: bold;
}


.error {
  pointer-events: none;
  background-color: gray;
  border: none;
}
